folium
GeoAlchemy2
geojson
geopandas
httplib2
opencv-python
pandas
Pillow
plotly
psycopg2-binary
pytest
pytest-cov
pytest-xdist
python-dotenv
seleniumbase
SQLAlchemy
SQLAlchemy-Utils
streamlit==1.14.0
streamlit-folium
vcrpy

